@import 'styles/breakpoints';

.component {
  color: var(--wpe--header--color);
  background-color: var(--wpe--header--background-color);
  // position: relative;
  position: fixed;
  bottom: -60px;
  left: 0;
  width: 100%;
  z-index: 50;
}

.sticky {
  background-color: var(--wpe--header--background-color);
  position: fixed;
  top: -60px;
  left: 0;
  width: 100%;
  z-index: 1000;
  transform: translateY(60px);
  transition: transform 0.3s ease-in-out;
}

.navbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  gap: 1rem;
  height: 3.5rem;
  background-color: var(--wpe--color--white);

  @media (min-width: $breakpoint-extra-small) {
    padding: 1rem 0;
    height: 5.5rem;
  }
}

.brand {
  font-weight: 800;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
  height: 3.5rem;

  @media (min-width: $breakpoint-extra-small) {
    font-size: 2.3rem;
    margin-left: 2rem;
    width: 3.5rem;
  }
}

.search-bar {
  display: flex;
  justify-content: center;
}

.title {
  text-decoration: none;
}

.menu-button {
  margin-right: 1rem;

  @media (min-width: $breakpoint-extra-small) {
    margin-right: 2rem;
  }
}

.menu-button,
.menu-button button svg {
  display: flex;
  height: 3.5rem;
}

.close-button {
  margin-right: 1rem;
  justify-content: flex-end;

  @media (min-width: $breakpoint-extra-small) {
    margin-right: 2rem;
  }
}

.close-button,
.close-button button svg {
  display: flex;
  height: 3.5rem;
}

.navbar-navigation-wrapper {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

.primary-navbar-navigation {
  ul:first-child {
    display: none;
  }
  ul:nth-child(2) {
    li ul {
      display: none;
    }
  }
}

.secondary-navbar-navigation {
  padding-left: 1rem;

  ul:nth-child(2) {
    display: none;
  }
}

// Primary Menu {Travel Leisure Menu}
.primary-navigation {
  display: block;

  ul:first-child {
    display: block;

    @media (min-width: $breakpoint-extra-small) {
      display: none;
    }
  }
}

// Secondary Menu {Other Destinations Menu}
.secondary-navigation {
  ul:nth-child(2) {
    @media (min-width: $breakpoint-extra-small) {
      flex-direction: column;
    }
  }

  @media (min-width: $breakpoint-extra-small) {
    padding-left: 1rem;
  }
}

// Third Menu {Static Pages Menu}
.third-navigation {
  padding-top: 1rem;

  ul:first-child {
    display: none;
  }

  ul li a {
    padding-left: 0;
  }

  @media (min-width: $breakpoint-extra-small) {
    ul:nth-child(2) {
      li ul {
        padding-top: 2rem;
      }
    }
  }
}

.full-menu-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: absolute;
  z-index: 51;
  width: 100vw;
  transition: transform 0.4s ease-in-out;
  transform: translateY(-150vh);
  background-color: var(--wpe--color--white);
  color: var(--wpe--color--black);

  &.show {
    padding: 0;
    gap: 1rem;
    top: 2.5rem;
    transform: translateY(0vh);

    @media (min-width: $breakpoint-extra-small) {
      top: 5.5rem;
      height: calc(-5.5rem + 100vh);
    }
  }
}

.full-menu-content {
  display: flex;
  flex-direction: column;
  height: calc(-3.5rem + 100vh);
  overflow-x: hidden;
  padding: 0 1rem 7rem;
  transition: transform 0.1s ease-out;
  transform: translateY(0vh);

  @media (min-width: $breakpoint-extra-small) {
    padding: 0 0 2rem;
  }

  .first-wrapper {
    display: flex;
    flex-direction: column;
    @media (min-width: $breakpoint-extra-small) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
      margin-top: -3.5rem;
    }
  }

  .second-wrapper {
    @media (min-width: $breakpoint-extra-small) {
      border-top: 1px solid #000000;
    }
  }
}

.full-menu-left {
  @media (min-width: $breakpoint-extra-small) {
    display: flex;
    margin-left: 5.5rem;
  }
}

.full-menu-right {
  @media (min-width: $breakpoint-extra-small) {
    display: flex;
    margin-right: 4rem;
  }
}
