@import 'styles/breakpoints';

.component {
  width: 100vw;
  height: 100vh;

  .video-wrapper {
    width: 100%;
    height: 100%;

    img,
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    .caption-wrapper {
      display: flex;
      justify-content: center;
      color: var(--wpe--color--white);
      top: 80vh;
      width: 100%;
      position: absolute;
      font-family: 'Unit Slab Pro Black';
      font-size: 1.8rem;
      font-weight: 500;
      text-align: center;

      @media (min-width: $breakpoint-extra-small) {
        font-size: 3rem;
      }
    }

    .chevron-wrapper {
      display: flex;
      justify-content: center;
      color: var(--wpe--color--white);
      top: 70vh;
      width: 100%;
      position: absolute;
      visibility: hidden;

      svg {
        transform: rotate(90deg);
        width: 1.5rem;
        height: 1.5rem;
        @media (min-width: $breakpoint-extra-small) {
          width: 2rem;
          height: 2rem;
        }
      }
    }

    .maximized {
      top: 92.5vh;
      transition: top 0.5s ease-in-out;
      visibility: visible;
    }
  }
}
