@media only screen and (max-width: 640px) {
  .homepage-swiper {
    height: calc(-3.5rem + 100vh);
  }

  .swiper-slide a {
    height: calc(-3.5rem + 100vh);
  }

  .swiper-slide a img {
    height: calc(-3.5rem + 100vh);
  }

  .swiper-custom-button-next,
  .swiper-custom-button-prev {
    display: none;
  }

  .video-content {
    height: calc(-3.5rem + 100vh);
  }  
}
