.component {
  max-width: var(--wpe--content--max-width);
  margin: 0 auto;
  line-height: 1.6875;
  margin-bottom: 5rem;
}

.title {
  margin-bottom: 0.5rem;
}

.parent {
  margin-bottom: 0.5rem;
}

.postInfo {
  margin-bottom: 1.5rem;
}

.featuredImage {
  margin: 0;
  margin-bottom: 1rem;
}
